body {
    overflow-x: hidden;
}

.full-width {
    width: 100%;
    position: absolute;
    left: 0;
}

.title {
    color: #555555;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #555555;
}

/* 
    INPUTS AND BUTTONS
*/
.form-input-font {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

.search-bar-itens {
    position: relative;
    border-radius: 30px;
}

/* INPUTS */

.search-input-container {
    width: 248px;
    height: 40px;
    background: #fff;
}

.search-input-container-xlarge {
    width: 508px;
}

::placeholder {
    color: #CDCDCD;
}

.search-input {
    position: absolute;
    left: -18px;
    top: 5px;
    width: 235px;
    padding: 4px 10px 4px 10px;
    border: 1px solid #DEDEDE;
    border-radius: 30px;
    outline: none;
}

.search-input-large {
    width: 335px;
}

.search-input-xlarge {
    width: 495px;
}

.search-input:focus {
    box-shadow: 0 0 0 1px #75C0FF;
}

/* FIM INPUTS */

/* BUTTONS */
.btn-container {
    margin-left: 15px;
    width: 104px;
    height: 42px;
    background: #fff;
}

.btn {
    border: 2px solid #5A9F9B;
    width: 90px;
}

.btn-font-light {
    color: #25A19C;
    border: 2px solid #25A19C;
}

.btn-font-dark {
    color: #FFF;
    border: 2px solid #068783;
    background: #25A19C;
}

.btn-font-orange {
    color: #ffb248;
    border: 3px solid #dedede;
}

/* 
    BASE BANNER
*/

.section-text {
    color: #AEAEAE;
    font-size: 1.1em;
}

.banner {
    font-family: 'Itim', cursive;
    height: 588px;
}

.banner-content {
    height: 588px;
    align-items: center;
}

.banner-left-content {
    margin-top: 150px;
}

.banner-right-content {
    left: 70px;
    top: -70px;
}

.banner-right-content h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #25a19c;
}